nav {
  padding: 0.8rem 2.4rem;
  background: var(--bg1);
  position: top;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 4px -3px rgba(51, 51, 51, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
}
nav .nav-container #logo {
  height: 100px;
  width: 66%;
  position: relative;
}

nav .nav-container #logo img {
  height: 100%;
}
nav .nav-container #icons {
  display: flex;
  font-size: 24px;
  width: 34%;
  justify-content: flex-end;
}
nav .nav-container #icons li {
  margin-left: calc(35% + 8px);
}
nav .nav-container #icons li a {
  position: relative;
}
nav .nav-container #icons #nav-not {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: rgb(255, 41, 41);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  transform: translate(-4px, -1px);
}
nav .nav-container #icons i {
  transition: 0.25s;
  cursor: pointer;
  color: var(--font1);
}
nav .nav-container #icons i:hover {
  color: cyan;
  transform: scale(1.1);
}
